*,
*::before, *::after {
	box-sizing: border-box;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
	font-size: $fs-base;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.6;

	background: #444;
}

img {
	max-width: 100%;
}

.main {
	position: fixed;
	left: 0;
	width: 100%;
	top: $header-height;
	height: calc(100% - #{$nav-height + $header-height});
	padding: $gutter;
	overflow: scroll;
}

.cursor--pointer {
	cursor: pointer;
}
