.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	background: black;
	text-align: center;

	// This is a drop shadow
	&::after {
		$height: 12px;
		content: '';
		position: absolute;
		bottom: -$height;
		left: 0;
		width: 100%;
		height: $height;

		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 0%, transparent 100%);
		// Don't mess with the click events
		pointer-events: none;
	}
}

.header__title {
	color: white;
	font-size: 24px;
	font-weight: 300;
	margin: 0;
	position: relative;
	top: 9px;
}

.header__back {
	position: absolute;
	top: 0;
    left: 0;
    font-size: 30px;
    width: $header-height;
    height: $header-height;
    z-index: 1000;

    background-image: url(/img/icons/back.svg);
    background-size: 64%;
    background-position: 10px 9px;
    background-repeat: no-repeat;
}